

.container_home{
    background-color: aliceblue;

    display: flex;
    
}

.container_welcome{
    /* background-color: antiquewhite; */
    width: 50%;
    /* color: white; */
    padding: 30px 10px;
    height: 70vh;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.welcome_h{
    font-weight: 400;
}

.welcome_b{
    font-weight: 600;
    color: gold;
}

.container_p{
    margin-top: 30px;
}

.login_link{
    margin-top: 60px;
    text-decoration: none;
    color: black;
    background-color: gold;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 500;
    width: 100px;
    text-align: center;
}


.container_image{
    /* background-color: aqua; */
    width: 50%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_image img{
    width: 400px;
    height: 400px;
}

.container_arrow{
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_icon{
    /* background-color: red; */
    padding: 15px;
    border-radius: 50%;
    border: 4px solid #254E58;
    cursor: pointer;
    color: black;
}

.container_data{
    margin-top: 20px;
    padding-bottom: 50px;
    /* margin-bottom: 50px; */
    background-color: #112D32;

    text-align: center;
    color: white;
}

.container_data h2{
    font-size: 40px;
}

.input_container{
    margin-top: 20px;
    margin-bottom: 40px;
}

.input_container input{
    border: none;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    padding: 0px 10px;
    outline: none;
}

.posts_container{
    background-color: #112D32;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.post_container{
    background-color: white;
    width: 600px;
    padding: 10px;
    color: black;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_subject{
    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post_price{
    /* background-color: blueviolet; */
    margin-top: 30px;
    padding: 20px 0 0 0;
    border-top: 2px solid gray;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy_button{
    padding: 5px 0px;
    width: 90px;
    border: none;
    border-radius: 10px;
    background-color: gold;
}

.user_icon{
    margin-right: 10px;
}